/* -------- index -------- */
@media screen and (width <= 1400px) {
    #main-cards{
        padding-left: 20vw;
        padding-right: 20vw;
    }
}

@media screen and (width <= 1335px) {
    #main-cards{
        padding-left: 15vw;
        padding-right: 15vw;
    }

    .col-12 p{
        width: 60%;
    }
}

@media screen and (width <= 1255px) {
    #main-cards .card{
        width: 16vw;
    }
}

@media screen and (width <= 1255px) {
    #main-cards .card{
        width: 18vw;
    }
}

@media screen and (width <= 991px) {
    #contenedor-textmenu .nav-link{
        display: none;
    }
    
    #main-cards .card{
        width: 19vw;
    }

    #imagen-principal > img{
        width: 70vw;
    }

    #main-carrousel > h2{
        font-size: 50px;
    }
}

@media screen and (width <= 900px){
    .offcanvas-body{
        padding-top: 215px;
    }

    #main-cards .card{
        width: 22vw;
    }

    #imagen-principal > img{
        width: 75vw;
    }

    #main-carrousel > h2{
        font-size: 45px;
    }

    .col-12 p{
        width: 80%;
    }

    #footer-nombre{
        justify-content: center;
        margin-top: 15px;
        padding-right: 0;
    }    
}

@media screen and (width <= 800px){
    #main-cards .card{
        width: 22vw;
    }

    #imagen-principal > img{
        width: 80vw;
    }

    #main-carrousel > h2{
        font-size: 40px;
    }

}

@media screen and (width <= 768px) {
    .d-none-custom{
        display: block;
    }

    .comida-veg,
    .comida-ita,
    .comida-arg,
    .comida-fran{
        height: 400px;
    }

    #contenedor-footer .col-4{
        padding-left: 2vw;
        width: 50%;
    }

    #contenedor-footer .col-8{
        width: 50%;
    }
}

@media screen and (width <= 750px) {
    #main-cards .card{
        width: 25vw;
    }
}

@media screen and (width <= 672px) {
    #header-image{
        background-size: 100% 300px;
    }

    #main-cards .card{
        width: 28vw;
    }

    #imagen-principal > img{
        width: 85vw;
    }

    #main-carrousel > h2{
        font-size: 37px;
    }

    #main-video iframe{
        width:580px;
        height:305px;
    }

    #contenedor-footer{
        height: 350px;
    }

    .col-12 p{
        width: 100%;
        text-align: center;
    }

    #container-logofooter p{
        margin-bottom: 20px;
    }

    #contenedor-footer .col-8,
    #contenedor-footer .col-4{
        display: flex;
        justify-content: center;
        width: 94%;
        margin-left: 7vw;
    }

    .social-media-buttons{
        margin-right: 0;
    }
}

@media screen and (width <= 610px){
    #header-image > h1{
        font-size: 50px;
        top: 135px;
        left: 80px;
    }

    .comida-veg,
    .comida-ita,
    .comida-arg,
    .comida-fran{
        height: 350px;
    }

    #contenedor-quecocinar-titulo{
        margin-left: 20vw;
    }

    #contenedor-texto-main-quecocinar > p{
        width: 70%;
    }

    #main-cards .card{
        width: 30vw;
    }
}

@media screen and (width <= 530px){
    #main-cards .card{
        width: 45vw;
    }

    .comida-veg,
    .comida-ita,
    .comida-arg,
    .comida-fran{
        height: 300px;
    }

    #contenedor-quecocinar-titulo{
        margin-left: 15vw;
    }

    #main-quecocinar-cards > div{
        max-width: 80vw;
    }

    #main-carrousel > h2{
        font-size: 33px;
    }
}

@media screen and (width <= 518px){
    #contenedor-footer{
        height: 400px;
    }
}

@media screen and (width <= 460px){
    #main-cards .card{
        width: 50vw;
    }

    #header-image > h1{
        font-size: 46px;
        top: 135px;
        left: 50px;
    }
}

@media screen and (width <= 415px){
    #main-cards > div{
        max-width: 80vw;
    }

    #main-cards .card{
        width: 50vw;
    }

    #contenedor-quecocinar-titulo{
        margin-left: 7vw;
    }

    #contenedor-texto-main-quecocinar > p{
        width: 100%;
    }
}

@media screen and (width <= 390px){
    #header-image > h1{
        font-size: 30px;
        top: 100px;
        left: 35px;
    }
    
    #header-image{
        height: 200px;
    }        
}

@media screen and (width <= 375px){
    #main-cards .card{
        width: 60vw;
    }
}

@media screen and (width <= 320px){
    #main-cards .card{
        width: 70vw;
    }

    #main-carrousel > h2{
        font-size: 25px;
    }

    .comida-veg,
    .comida-ita,
    .comida-arg,
    .comida-fran{
        height: 200px;
    }

    #main-cards .card,
    #main-cardss .card-img-top{
        width: 65vw;
    }

    .social-media-button{
        width: 32px;
        height: 32px;
    }

    .icon-git img{
        width: 28px;
        height: 28px;
    }

    #contenedor-footer{
        height: 440px;
    }

    #main-video iframe{
        width: 275px;
        height: 275px;
        
    }
}

/* -------- recetas -------- */
@media screen and (width <= 1300px) {
    #col-control-cards{
        width: 30%;
    }

    #contenedor-cards-recetas{
        width: 70%;
    }
}

@media screen and (width <= 1200px) {
    #col-control-cards,
    #contenedor-paginacion-relleno{
        width: 35%;
    }

    #contenedor-cards-recetas,
    #contenedor-paginacion{
        width: 65%;
    }

    #contenedor-cards-recetas .card{
        height: 300px;
    }

    #contenedor-cards-recetas .card-img-top{
        height: 200px;
    }
}

@media screen and (width <= 1100px) {
    #contenedor-cards-recetas .card{
        width: 18vw;
    }

    #contenedor-cards-recetas .card-img-top{
        width: 17.9vw;
    }
}

@media screen and (width <= 991px){
    #modal-receta-2 .img-top-modal, 
    #modal-receta-5 .img-top-modal{
        width: 450px;
        height: 350px;
    }
}

@media screen and (width <= 910px){
    #col-control-cards,
    #contenedor-cards-recetas,
    #contenedor-paginacion{
        width: 100%;
        margin-left: 5vw;
    }

    #contenedor-paginacion-relleno{
        width: 0%;
    }

    #contenedor-cards-recetas,
    #contenedor-paginacion{
        margin-left: 6vw;
    }

    #col-control-cards{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    #container-control-cards{
        width: 50vw;
    }

    #container-control-cards > *,
    #buscador-input{
        width: 30vw;
    }

    #contenedor-cards-recetas .card,
    #contenedor-cards-recetas .card-img-top{
        width: 25vw;
    }
}

@media screen and (width <= 800px){
    #contenedor-cards-recetas .card,
    #contenedor-cards-recetas .card-img-top{
        width: 28vw;
    }
}

@media screen and (width <= 635px) {
    #contenedor-cards-recetas .card,
    #contenedor-cards-recetas .card-img-top{
        width: 30vw;
    }
}

@media screen and (width <= 600px){
    #container-control-cards{
        width: 60vw;
    }

    #container-control-cards > *,
    #buscador-input{
        width: 40vw;
    }

    #contenedor-cards-recetas .card,
    #contenedor-cards-recetas .card-img-top{
        width: 35vw;
    }
}

@media screen and (width <= 530px){
    #contenedor-cards-recetas .card,
    #contenedor-cards-recetas .card-img-top{
        width: 40vw;
    }
}

@media screen and (width <= 500px){
    #contenedor-paginacion > *{
        height: 40px;
        font-size: 14px;
    }

    #modal-receta-1 .img-top-modal{
        height: 400px;
        width: 400px;
    }

    #modal-receta-2 .img-top-modal, 
    #modal-receta-5 .img-top-modal{
        height: 300px;
        width: 400px;
    }
}

@media screen and (width <= 454px){
    #contenedor-main h2{
        font-size: 30px;
        margin-left: 10px;
    }

    #container-control-cards{
        width: 70vw;
    }

    #container-control-cards > *,
    #buscador-input{
        width: 50vw;
    }

    #contenedor-paginacion{
        gap: 6vw;
    }

    #contenedor-cards-recetas .card,
    #contenedor-cards-recetas .card-img-top{
        width: 50vw;
    }
}

@media screen and (width <= 430px){
    #modal-receta-5 .img-top-modal{
        width: 350px;
    }
}

@media screen and (width <= 415px){
    #modal-receta-1 .img-top-modal,
    #modal-receta-3 .img-top-modal,
    #modal-receta-4 .img-top-modal{
        height: 350px;
        width: 350px;
    }

    #modal-receta-2 .img-top-modal{
        height: 200px;
        width: 350px;
    }
}

@media screen and (width <= 375px){
    #container-control-cards{
        width: 80vw;
    }

    #container-control-cards > *,
    #buscador-input{
        width: 60vw;
    }

    #contenedor-cards-recetas .card,
    #contenedor-cards-recetas .card-img-top{
        width: 52vw;
    }

    #modal-receta-1 .img-top-modal{
        height: 300px;
        width: 300px;
    }

    #modal-receta-2 .img-top-modal, 
    #modal-receta-5 .img-top-modal{
        width: 300px;
    }
    
    .container-img-pasos{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (width <= 320px){
    #container-control-cards{
        width: 90vw;
    }

    #container-control-cards > *{
        width: 70vw;
    }

    #buscador-input{
        width: 60vw;
    }

    #contenedor-cards-recetas .card,
    #contenedor-cards-recetas .card-img-top{
        width: 65vw;
    }

    #contenedor-cards-recetas{
        width: 100%;
        margin-left: 7vw;
    }

    #modal-receta-1 .img-top-modal, 
    #modal-receta-5 .img-top-modal{
        height: 270px;
        width: 270px;
    }

    #modal-receta-2 .img-top-modal{
        width: 250px;
    }
}

/* -------- contacto -------- */
@media screen and (width <= 1400px) {
    #contenedor-contacto-img{
        padding-left: 10px;
    }
}

@media screen and (width <= 1250px) {
    #img-contactanos{
        width: 500px;
    }

    .input-custom{
        width: 29.5vw;
    }
}

@media screen and (width <= 1140px) {
    #img-contactanos{
        width: 425px;
    }

    #title-form{
        margin-top: 0;
    }
}

@media screen and (width <= 991px) {
    #contenedor-contacto-img{
        display: flex;
        justify-content: center;
    }

    #img-contactanos{
        width: 500px;
    }

    #contenedor-form-contacto{
        background-color: transparent;
    }

    #form-contacto{
        border-radius: 8px;
        margin-left: 15vw;
        margin-right: 15vw;
        padding: 5px;
    }
}

@media screen and (width <= 850px) {
    #form-contacto{
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

@media screen and (width <= 700px) {
    #form-contacto{
        margin-left: 7vw;
        margin-right: 7vw;
    }
}

@media screen and (width <= 600px) {
    #form-contacto{
        margin-left: auto;
        margin-right: auto;
    }

    #contenedor-contacto{
        width: 100vw;
    }

    .floatlabel,
    #input-text-area{
        font-size: 1em;
    }
}

@media screen and (width <= 550px) {
    #form-contacto{
        height: 420px;
    }

    #input-text-area{
        margin-top: 10px;
    }
}

@media screen and (width <= 500px) {
    #img-contactanos{
        width: 400px;
    }
}

@media screen and (width <= 440px) {
    #contenedor-form-contacto{
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    #img-contactanos{
        width: 375px;
    }

    #title-form{
        font-size: 30px;
    }
}

@media screen and (width <= 400px) {
    #img-contactanos{
        width: 325px;
    }
}

@media screen and (width <= 350px) {
    #img-contactanos{
        width: 300px;
    }
}

@media screen and (width <= 300px) {
    #img-contactanos{
        width: 280px;
    }
}

/* -------- acerca de -------- */
@media screen and (width <= 1440px){
    #title-quienessomos{
        margin-top: 10px;
    }

    #img-acercade{
        width: 42vw;
    }
}

@media screen and (width <= 1400px){
    #img-acercade{
        width: 44vw;
    }
}

@media screen and (width <= 1350px){
    #img-acercade{
        height: 450px;
    }

    #map-contacto{
        width: 70%;
    }
}

@media screen and (width <= 1270px){
    #img-acercade{
        height: 460px;
    }
}

@media screen and (width <= 1115px){
    #img-acercade{
        height: 480px;
    }
}

@media screen and (width <= 1093px){
    #img-acercade{
        height: 510px;
    }
}

@media screen and (width <= 1012px){
    #img-acercade{
        height: 535px;
    }
}

@media screen and (width <= 991px){
    #contenedor-acercade-img{
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }

    #img-acercade{
        width: 80vw;
        height: auto;
    }

    #contenedor-texto-quienessomos{
        padding-right: 12px;
    }
}

@media screen and (width <= 890px){
    #map-contacto{
        width: 85%;
    }
}

@media screen and (width <= 825px){
    .reset-pl{
        padding-left: 50%;
        padding-right: 50%;
    }
}

@media screen and (width <= 650px){
    #map-contacto{
        width: 95%;
    }
}

@media screen and (width <= 520px){
    #contenedor-texto-quienessomos p{
        font-size: 15px;
    }

    #title-map{
        font-size: 28px;
    }

    .row-flex{
        margin-right: 1rem;
        margin-left: 1rem;
    }

    #map-contacto{
        width: 85vw;
    }
}

@media screen and (width <= 420px){
    #title-map{
        font-size: 25px;
    }
}

@media screen and (width <= 368px){
    #title-map{
        margin-top: 1rem;
    }
}

/* -------- servicios -------- */

@media screen and (width <= 767px){
    #contenedor-titulo-servicios{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    #contenedor-titulo-servicios > h2{
        margin-left: 0;
    }
    .icon-cart{
        margin-right: 0;
    }
}

@media screen and (width <= 465px){
    .service-cards{
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .service-cards .card{
        width: 70vw;
    }
    .service-cards .card-img-top{
        width: 69.5vw;
    }    
}

@media screen and (width <= 375px){
    .service-cards .card{
        width: 80vw;
    }
    .service-cards .card-img-top{
        width: 79.5vw;
    }    
}

@media screen and (width <= 320px){
    #contenedor-titulo-servicios > h2{
        font-size: 22px;
    }
}